---
description: Global style-related development specifications
globs: 
---

# Your rule content

- The current project is built with umi Max, so when it comes to styles, the new styles should follow the cssModule specification, do not directly use the simple className, the existing content can continue to remain the original way
- 新的接口请求都用src/utils/fetch.ts中fetchWithAuthNew发起